<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>User Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Users Management System</a>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin}"> <- Back to main page </a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center"> Create New User </h1>
            <div class="card-body">
                <form th:action="@{/admin}" th:object="${user}" th:method="POST">
                    <div class="form-group">
                        <label> First name <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name
                            error
                        </div> </label>
                        <input
                                type="text"
                                name="firstName"
                                th:field="*{firstName}"
                                class="form-control"
                                placeholder="Enter User First Name"
                        />
                    </div>


                    <div class="form-group">
                        <label> Last name <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name
                            error
                        </div> </label>
                        <input
                                type="text"
                                name="lastName"
                                th:field="*{lastName}"
                                class="form-control"
                                placeholder="Enter User Last Name"
                        />
                    </div>

                    <div class="form-group">
                        <label> Age </label>
                        <input
                                type="number"
                                min="0"
                                name="age"
                                th:field="*{age}"
                                class="form-control"
                        />
                    </div>

                    <div class="form-group">
                        <label> Email <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
                        </label>
                        <input
                                type="text"
                                name="email"
                                th:field="*{email}"
                                class="form-control"
                                placeholder="Enter User Email"
                        />
                    </div>


                    <div class="form-group">
                        <label> Password <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                            Password error
                        </div> </label>
                        <input
                                type="text"
                                name="password"
                                th:field="*{password}"
                                class="form-control"
                                placeholder="Enter password"
                        />
                    </div>

                    <div class="form-group">
                        <label> Role <div style="color:red" th:if="${#fields.hasErrors('singleRoleId')}" th:errors="*{singleRoleId}"> Role
                            error
                        </div> </label>
                        <select th:size="${roles.size()}" name="singleRoleId" >
                            <option th:each="r : ${roles}" th:value="${r.getId()}" th:text="${r.getProperName()}">
                            </option>
                        </select>
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<form th:action="@{/admin/logout}" class="btn btn-info btn-lg" th:method="POST">
    <input class="glyphicon glyphicon-log-out" type="submit" value="Logout"/>
</form>
</body>
</html>